{
  "env": {
    "artifactDirectoryTest": {
      "plugins": [
        ["relay", {
          "artifactDirectory": "test/fixtures/normalCase/src/__generated__"
        }]
      ],
    }
  },
  "plugins": ["relay"],
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env"
  ]
}
